<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846543538906-73icp7h5buiqnvvak9bo314st7738vr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846543538906-73icp7h5buiqnvvak9bo314st7738vr7</string>
	<key>API_KEY</key>
	<string>AIzaSyBvJO-3NO5VLGfIURCyq59WhJ6RLnwlLKA</string>
	<key>GCM_SENDER_ID</key>
	<string>846543538906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leolun.patrol</string>
	<key>PROJECT_ID</key>
	<string>patrol-7994a</string>
	<key>STORAGE_BUCKET</key>
	<string>patrol-7994a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846543538906:ios:f1029ecde5a786125673e3</string>
	<key>DATABASE_URL</key>
	<string>https://patrol-7994a.firebaseio.com</string>
</dict>
</plist>